<div *ngIf="!primeng" class="row">
    <alert [type]="_tipo">
        <div class="bg-green alert-icon">
            <i class="fa {{icone}}"></i>
        </div>
        <div class="alert-content">
            <h4 class="alert-title">{{titulo}}</h4>
            <p [innerHTML]="mensagem"><ng-content></ng-content></p>
        </div>
    </alert>
</div>
<p-growl *ngIf="primeng" [value]="msg" [style]="getStyle()"></p-growl>